ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul > li {
  margin: 2px 0;
}

a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

mat-sidenav-content {
  display: flex;
  flex-direction: row;
}

mat-sidenav {
  width: 200px;
  padding: 0;
  background-color: rgba(180, 200, 220, 0.8);
}

.side_btn {
  margin: 5px 0 !important;
  padding: 10px !important;
  display: block;
}

.menu {
  padding: 0px;
}
