<mat-toolbar color="primary">
  <span><a routerLink="/">Hyperest of Hypertubes&trade;</a></span>
  <span class="spacer"></span>
  <ul *ngIf='!parsed'>
    <li>
      <a mat-raised-button routerLink="/login" color="primary" routerLinkActive="mat-accent">Login</a>
    </li>
    <li>
      <a mat-raised-button routerLink="/signup" color="primary" routerLinkActive="mat-accent">Signup</a>
    </li>
  </ul>
  <ul *ngIf='parsed'>
    <li>
      <a mat-raised-button routerLink="/listarchive" color="primary" routerLinkActive="mat-accent">Search Archive</a>
    </li>
    <li>
      <a mat-raised-button routerLink="/listyts" color="primary" routerLinkActive="mat-accent">Search YTS</a>
    </li>
    <li>
      <a mat-raised-button routerLink="/profile" color="primary" routerLinkActive="mat-accent">Profile</a>
    </li>
    <li>
      <a mat-raised-button href="http://localhost:3000/user/logout" color="primary" routerLinkActive="mat-accent">Logout</a>
    </li>
  </ul>
</mat-toolbar>
