ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul > li {
  padding: 5px;
  margin: 2px;
}

ul {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

