.signup-options {
  display: flex;
  flex-direction: row;
}

mat-form-field {
  margin-top: 9px;
  margin-bottom: 9px;
}

mat-error {
  font-size: 12px;
}

.profile-container {
  background-color: rgba(50, 50, 50, 90);
  display: flex;
  flex-direction: column;
}

.profile-container > * {
  color: whitesmoke;
  width: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: whitesmoke;
}
::-moz-placeholder { /* Firefox 19+ */
  color: whitesmoke;
}
:-ms-input-placeholder { /* IE 10+ */
  color: whitesmoke;
}
:-moz-placeholder { /* Firefox 18- */
  color: whitesmoke;
}

.OmniAuths {
}

.OmniAuths > a {
  width: 120px;
  margin: 6px calc(25% - 60px) !important;
}

.OmniAuths > .red {
  background-color: rgb(217, 69, 61);
}

.OmniAuths > .black {
  background-color: #202020;
}

.OmniAuths > .blue-42 {
  background-color: #00babc;
}

.OmniAuths > .blue-facebook {
  background-color: rgb(68, 105, 176)
}

.OmniAuths > .blue-twitter {
  background-color: rgb(42, 163, 239);
}
