<mat-card class="profile-container">
  <h1
  *ngIf="!links['42'] && !links.Facebook && !links.Google && !links.Local && !links.Twitter"
  >Link Accounts</h1>
    <!-- SSO -->
    <div class="OmniAuths">
      <a class="red"
        color="primary"
        href="http://localhost:3000/auth/google"
        *ngIf="!links.Google"
        mat-raised-button
        >Google +</a>
      <a class="blue-42"
      color="primary"
      *ngIf='!links["42"]'
      href="http://localhost:3000/auth/42"
      mat-raised-button
      >Intra 42</a>
      <a class="blue-facebook"
      color="primary"
      *ngIf="!links.Facebook"
      href="http://localhost:3000/auth/facebook"
      mat-raised-button
      >Facebook</a>
      <a class="blue-twitter"
      color="primary"
      *ngIf="!links.Twitter"
      mat-raised-button
      href="http://localhost:3000/auth/twitter"
      >Twitter</a>
      <a class="black"
      color="primary"
      *ngIf='!links.Local'
      href="http://localhost:3000/auth/42"
      mat-raised-button
      >Hypertoob</a>
    </div>
  <h1
    *ngIf="links['42'] || links.Facebook || links.Google || links.Local || links.Twitter"
  >Unlink Accounts</h1>
    <!-- SSO -->
    <div class="OmniAuths">
      <a class="red"
        color="primary"
        href="http://localhost:3000/auth/google"
        *ngIf="links.Google"
        mat-raised-button
        >Google +</a>
      <a class="blue-42"
      color="primary"
      *ngIf='links["42"]'
      href="http://localhost:3000/auth/42"
      mat-raised-button
      >Intra 42</a>
      <a class="blue-facebook"
      color="primary"
      *ngIf="links.Facebook"
      href="http://localhost:3000/auth/facebook"
      mat-raised-button
      >Facebook</a>
      <a class="blue-twitter"
      color="primary"
      *ngIf="links.Twitter"
      mat-raised-button
      href="http://localhost:3000/auth/twitter"
      >Twitter</a>
      <a class="black"
      color="primary"
      *ngIf='links.Local'
      href="http://localhost:3000/auth/42"
      mat-raised-button
      >Hypertoob</a>
    </div>
</mat-card>
