mat-card {
  max-width: 300px;
  align-content: center;
}

mat-form-field {
  margin-top: 9px;
  margin-bottom: 9px;
}

mat-error {
  font-size: 12px;
}

.profile-container {
  background-color: rgba(50, 50, 50, 90);
  display: flex;
  flex-direction: column;
}

.profile-container > * {
  color: whitesmoke;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: whitesmoke;
}
::-moz-placeholder { /* Firefox 19+ */
  color: whitesmoke;
}
:-ms-input-placeholder { /* IE 10+ */
  color: whitesmoke;
}
:-moz-placeholder { /* Firefox 18- */
  color: whitesmoke;
}

.OmniAuths {
}

.OmniAuths > a {
  width: 120px;
  margin: 6px calc(25% - 60px) !important;
}

.passbtn {
   margin-left: 15%;
}

.profilepic {
  margin: auto;
}

.userinfo {
  margin: auto;
}

mat-form-field {
  width: 90% !important;
}

.overlay {
  position: absolute;
  left: 100px;
  top: 40px;
}

.material-icons {
  width: 100px;
}

.pic {
  width: 300px;
}
