mat-card {
  width: 90%;
  max-width: 300px;
  margin: auto;
  margin-top: 50px;
}

mat-spinner {
  margin: auto;
}

.signup-options {
  display: flex;
  flex-direction: row;
}

mat-form-field {
  margin-top: 9px;
  margin-bottom: 9px;
}

mat-error {
  font-size: 12px;
}

.signup-container {
  background-color: rgba(50, 50, 50, 90);
  display: flex;
  flex-direction: column;
}

.signup-container > * {
  color: whitesmoke;
  width: 100%;
}

.signup-container > * {
  color: whitesmoke;
  width: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: whitesmoke;
}
::-moz-placeholder { /* Firefox 19+ */
  color: whitesmoke;
}
:-ms-input-placeholder { /* IE 10+ */
  color: whitesmoke;
}
:-moz-placeholder { /* Firefox 18- */
  color: whitesmoke;
}

.OmniAuths > a {
  margin-top: 10px;
  width: 120px;
  margin: 0 calc(25% - 60px);
}

.OmniAuths > .red {
  background-color: rgb(217, 69, 61);
}

.OmniAuths > .black {
  background-color: #00babc;
}
