<div class="{{ ((totalPosts > 5 && query) ? 'all' : 'allmore') + '  skiptranslate' }}">
<mat-card class="">
  <form (submit)='onSubmit()' [formGroup]='search' class="searchTerm">
    <mat-form-field class="example-full-width">
      <input matInput formControlName='query_term' placeholder="Search Term" value="{{ query ? query.toLowerCase() : '' }}">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-select formControlName='sort' placeholder="Sort By">
          <mat-option *ngFor="let sort of sortBy" [value]="sort">
            {{ sort }}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <button
    *ngIf='!searching'
    class="search-btn"
    color="primary"
    mat-raised-button
    >Search</button>

    <button
    *ngIf='searching'
    class="search-btn"
    color="primary"
    mat-raised-button
    disabled
    >Search</button>

  </form>
</mat-card>
<mat-spinner *ngIf='loading'></mat-spinner>
<div class="errors">
  <div *ngIf="!data && !loading">No Information</div>
  <div *ngIf="unexpected">Error loading results, Please try again later, if problem persists, please contact admin</div>
</div>
  <div *ngIf="!loading && data['data']">
  <div class="main">
    <mat-card *ngFor="let p of data['data']['movies']">
      <mat-card-title>{{ p['title'] }}</mat-card-title>
      <mat-card-content [class]="p['rating'] <= 4 ? 'bad' : 'good'">
      <div class="poster">
        <img src="{{ p['medium_cover_image'] }}">
      </div>
      <div class="info">
        <p>{{ p['synopsis'] }}</p>
        <p *ngIf="p['rating'] > 4">r8ted: {{ ((p['rating'] / 10) * 8).toFixed(1) }} / 8 For Gr8 M8</p>
        <p *ngIf="p['rating'] <= 4">r8ted: We Don't</p>
        <p>{{ p['mpa_rating'] }}</p>
        <p>IMDB: {{ p['rating'] }} / 10</p>
        <mat-chip-list class="grid">
          <mat-chip class="" *ngFor="let o of p['genres']">{{ o }}</mat-chip>
        </mat-chip-list>
        <p> {{ p['date_uploaded'] }} </p>
      </div>
    </mat-card-content>
    <mat-accordion multi='true'>
    <mat-expansion-panel *ngFor="let o of p['torrents']">
      <mat-expansion-panel-header>
        {{ o['quality'] }}
        {{ o['type'] }}
      </mat-expansion-panel-header>
      <mat-action-row class="download-list">
        <div>
          <p>Hash:: {{ o['hash'] }}</p>
          <p>{{ o['size'] }} </p>
          <a href="{{ o['url'] }}"><button>Download</button></a>
        </div>
      </mat-action-row>
    </mat-expansion-panel>
    </mat-accordion>
    </mat-card>
  </div>
  <mat-paginator *ngIf='totalPosts > 5 && query' class="page" (page)='onChanged($event)' [pageIndex]="currPage - 1" [length]="totalPosts" [pageSize]="postPerPage" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
  </div>
</div>
