
mat-card {
  background-color: rgb(60, 60, 60);
  max-width: initial;
  color: rgb(220, 220, 220);
}

.bad {
  background-color: red !important;
}

mat-card-content {
  background-color: rgb(70, 70, 70);
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 6px;
}

mat-expansion-panel {
  background-color: rgb(80, 80, 80);
  color: rgb(220, 220, 220);
}

.poster {
  border-radius: 8px;
  height: auto;
  width: 25vw;
}

.poster > img {
  width: 25vw;
}

.errors {
  color: red;
  text-align: center;
}

.info > h1 {
  text-align: center;
  font-size: 25px;
  font-display: bold;
}

.info {
  padding: 15px;
}

.genres > .genre {
  background-color: #2196f3;
  border-radius: 5px;
  padding: 5px;
  margin: 2px 0;
  margin-right: auto;
  display: grid;

}

.grid {
  display: grid;
}

.genres {
  margin: 5px;
  display: grid;
}

.download-list {
  display: block;
}

.example-full-width {
  margin: 0 10px;
}

.page {
  position: fixed;
  bottom: 50px;
  width: 100%;
}

.main
{
  margin-bottom: 140px;
}
